.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;

  display: grid;
  //this divides the grid into 3 equal columns
  //grid-template-columns: repeat(3, 1fr);
  // make the columns responsive
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //don't need to specify rows as it will be an implicit grid
  gap: 6rem;
  //change the text display from stretch to move to top
  align-items: start;
  .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    //don't need to specify rows
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    &__icon {
      fill: $color-primary;
      width: 4.5rem;
      height: 4.5rem;
      // make the icon box span 2 rows
      grid-row: 1 / span 2;
      //move the icon up a bit
      transform: translateY(-1rem);
    }

    &__text {
      font-size: 1.7rem;
    }
  }
}
