.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  //align the list in the center of another grid
  display: grid;
  align-content: center;
  justify-content: center;
  // center the title
  justify-items: center;
  row-gap: 2rem;
  @media only screen and (max-width: $bp-medium) {
    //  make the realtors fill the full width for a medium screen
    grid-column: 1/-1;
  }
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    @media only screen and (max-width: $bp-medium) {
      //  put the 3 realtors side by side as there is room
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: $bp-small) {
      //now there isn't room side by side, so put them back vertically
      grid-template-columns: min-content max-content;
    }
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center;
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
